<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img src="assets/Estiam-Logo-Reserve-Bicolore-RVB-1024.png" height="80%" width="9%" />
  <a class="card" target="__self" rel="noopene" routerLinkActive="active" routerLink="">
    <h3>Admission</h3>
  </a>
  <a class="card" target="__self" rel="noopene" routerLinkActive="active" routerLink="/programme">
    <h3>Programme </h3>
  </a>
  <a class="card" target="__self" rel="noopene" routerLinkActive="active" routerLink="/alternance">
    <h3>Alternace </h3>
  </a>
  <a class="card" target="__self" rel="" routerLinkActive="active" routerLink="/entreprise">
    <h3>Entreprise</h3>
  </a>
  <a class="card" target="__self" rel="noopene" routerLinkActive="active" routerLink="/certifications">
    <h3>Certification</h3>
  </a>
  <a class="card" target="__self" rel="noopene" routerLinkActive="active" routerLink="/tarifs">
    <h3>Tarifs</h3>
  </a>
  <a class="card" target="__self" rel="noopene" routerLinkActive="active" routerLink="/contactez-nous">
    <h3>Nous Contacter</h3>
  </a>
  <span></span>
  <div class="spacer"></div>


</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card-container">
    <!--
    <a class="card" target="_blank" rel="noopene" routerLinkActive="active" routerLink="">
      <span>Aceuil</span>
      </a>
      <a class="card" target="_blank" rel="noopene" routerLinkActive="active" routerLink="">
        <span>Aceuil</span>
        </a><a class="card" target="_blank" rel="noopene" routerLinkActive="active" routerLink="">
          <span>Aceuil</span>
          </a>
-->

  </div>


  <!-- Footer -->
  <footer>

  </footer>



</div>
